.post-card {
  height: 100%;
  box-shadow: 0.8rem 0.8rem $blush;
  background: $white;

  @include transition(
    color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease
  );

  &__image-box {
    padding-bottom: 73.1%;
    object-fit: cover;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-bottom: 66.38%;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 75%;
    }
    img {
      position: absolute;
      inset: 0;
      height: 100%;
    }
  }
  &:hover,
  &:focus {
    transform: translate(-8px, -8px);
    box-shadow: 0.8rem 0.8rem $peach;
    background: $blush;
  }
}
