{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 60,
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "useTabs": false
}
