$icomoon-font-family: 'icons' !default;
$icomoon-font-path: './../../../fonts' !default;

$icon-facebook: '\e904';
$icon-twitter: '\e90c';
$icon-github: '\e905';
$icon-refresh: '\e90a';
$icon-search: '\e90d';
$icon-location: '\e907';
$icon-tick: '\e90b';
$icon-close: '\e902';
$icon-bars: '\e908';
$icon-right: '\e90f';
$icon-down: '\e903';
$icon-up-45: '\e911';
$icon-left: '\e90e';
$icon-up: '\e910';
$icon-caret-right: '\e901';
$icon-caret-up: '\e909';
$icon-caret-down: '\e912';
$icon-linkedin: '\eac9';
