@import 'variables/variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?6v390e')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pause {
  &::before {
    content: $icon-pause;
  }
}
.icon-play {
  &::before {
    content: $icon-play;
  }
}
.icon-facebook {
  &::before {
    content: $icon-facebook;
  }
}
.icon-twitter {
  &::before {
    content: $icon-twitter;
  }
}
.icon-github {
  &::before {
    content: $icon-github;
  }
}
.icon-refresh {
  &::before {
    content: $icon-refresh;
  }
}
.icon-search {
  &::before {
    content: $icon-search;
  }
}
.icon-location {
  &::before {
    content: $icon-location;
  }
}
.icon-tick {
  &::before {
    content: $icon-tick;
  }
}
.icon-close {
  &::before {
    content: $icon-close;
  }
}
.icon-bars {
  &::before {
    content: $icon-bars;
  }
}
.icon-right {
  &::before {
    content: $icon-right;
  }
}
.icon-down {
  &::before {
    content: $icon-down;
  }
}
.icon-up-45 {
  &::before {
    content: $icon-up-45;
  }
}
.icon-left {
  &::before {
    content: $icon-left;
  }
}
.icon-up {
  &::before {
    content: $icon-up;
  }
}
.icon-caret-right {
  &::before {
    content: $icon-caret-right;
  }
}
.icon-caret-up {
  &::before {
    content: $icon-caret-up;
  }
}
.icon-caret-down {
  &::before {
    content: $icon-caret-down;
  }
}
.icon-linkedin {
  &::before {
    content: $icon-linkedin;
  }
}
