@import '../common';
@import '../generic/icons/variables/variables';

.about-us {
  & .h6,
  & .eyebrow {
    font-size: 1.8rem;
  }

  &__video {
    $self: &;
    &--content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--icon {
      font-size: 6.8rem;
      border: none;
      position: absolute;
      background: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      .icon-play-pause {
        &::after {
          content: $icon-play;
          line-height: 1.5;
        }
      }

      &.pause-button {
        .icon-play-pause {
          opacity: 0;
          &::after {
            content: $icon-pause;
            line-height: 1.5;
          }
        }
      }
    }

    &--container {
      height: 0;
      position: relative;
      padding-bottom: 85.3%;

      @include media-breakpoint-up(md) {
        padding-bottom: 68.32%;
      }

      @include media-breakpoint-up(xl) {
        padding-bottom: 59.7%;
      }

      iframe,
      video,
      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover #{$self} {
        --icon.pause-button .icon-play-pause {
          opacity: 1;
        }
      }
    }
  }
}
