@import '../common';

.cta-with-img {
  &__img {
    height: 100%;
    position: relative;
    padding-top: calc(334 / 327 * 100%);
    @include media-breakpoint-up(md) {
      padding-top: calc(490 / 452 * 100%);
    }
    @include media-breakpoint-up(xl) {
      padding-top: calc(438 / 510 * 100%);
    }
    img {
      position: absolute;
      inset: 0;
    }
  }
}
