@import '../common';

.cta-with-img {
  &__img {
    aspect-ratio: 327 / 334;
    @include media-breakpoint-up(md) {
      aspect-ratio: 452 / 490;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 510 / 438;
    }
  }
}
