@import '../common';

.img-with-cta {
  @include media-breakpoint-down(md) {
    .body {
      font-size: 1.8rem;
    }
  }

  &__image-container {
    height: 0;
    position: relative;
    padding-bottom: 83.9%;
    @include media-breakpoint-up(md) {
      padding-bottom: 73%;
    }
    @include media-breakpoint-up(xl) {
      padding-bottom: 75%;
    }
    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
