@import '../common';

.img-with-cta {
  @include media-breakpoint-down(md) {
    .body {
      font-size: 1.8rem;
    }
  }

  &__image {
    aspect-ratio: 318 / 267;
    @include media-breakpoint-up(md) {
      aspect-ratio: 452 / 330;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 620 / 465;
    }
  }
}
