@import '../common';

.leadspace {
  @include media-breakpoint-down(md) {
    padding-top: 3.4rem;
    padding-bottom: 3.4rem;
  }
  &__img-1 {
    aspect-ratio: 327 / 233;
    @include media-breakpoint-up(md) {
      aspect-ratio: 394 / 287;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 486 / 397;
    }
  }

  &__img-2 {
    aspect-ratio: 509 / 287;
    @include media-breakpoint-up(xl) {
      aspect-ratio: 730 / 397;
    }
  }

  &__img-3 {
    aspect-ratio: 1;
  }

  @include media-breakpoint-only(md) {
    .ls-col-7 {
      width: calc(58.333% - 24px);
    }
    .ls-col-5 {
      width: calc(41.6667% + 24px);
    }
  }
}
