@import '../common';

.team {
  @include media-breakpoint-down(xl) {
    .h3 {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
  @include media-breakpoint-down(md) {
    .eyebrow {
      font-size: 1.8rem;
    }
  }
  @include media-breakpoint-down(md) {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  &-swiper-img {
    aspect-ratio: 141 / 124;
    @include media-breakpoint-up(md) {
      aspect-ratio: 118 / 147;
    }
    @include media-breakpoint-up(xl) {
      aspect-ratio: 327 / 281;
    }
  }
  &-swiper-pagination {
    text-align: center;
    .swiper-pagination-bullet {
      height: 0.8rem;
      width: 0.8rem;
      background: transparent;
      border: 1px solid $sky;

      @include media-breakpoint-up(xl) {
        border-color: $teal;
      }
      &-active {
        background: $sky;
        @include media-breakpoint-up(xl) {
          background: $teal;
        }
      }
    }
  }
}
